body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#charts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

#chart-container, #pie-chart-container {
    width: 40%; /* Reduzindo o tamanho dos gráficos */
    height: 300px; /* Reduzindo a altura dos gráficos */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#fuelTypeList {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.fuelTypeItem {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fuelTypeItem h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.carList {
    list-style: none;
    padding: 0;
}

.carListItem {
    margin-left: 20px;
    padding: 5px;
}

.noCars {
    color: #888;
    font-style: italic;
}
